API_HOST=enlace de nuestra api
API_PORT= puerto de la api
CLUSTER_NAME= Entra a MongoDB Atlas. En el menú de la izquierda, haz clic en Database. Verás tu cluster en el centro de la pantalla. El nombre aparece en texto grande arriba a la izquierda del cuadro del cluster
ADMIN_DB_USERNAME= En el menú de la izquierda, ve a Security -> Database Access.Si ya tienes un usuario creado, verás su nombre
ADMIN_DB_PASSWORD= Lo mismo que el paso anterior. Por seguridad, Atlas no te mostrará la contraseña. Si no te acuerdas de la contraseña, haz clic en el botón Edit al lado del usuario, luego en Edit Password, escribe una nueva y dale a Update User. Si no tienes ningún usuario, haz clic en el botón verde Add New Database User, asígnale el rol de Atlas Admin (o Read and Write), y define el usuario y contraseña que pondrás en tu .env.
MONGO_HOST= Ve a Database en el menú de la izquierda. Haz clic en el botón Connect que está junto a tu cluster. Selecciona Drivers (o "Connect your application"). Selecciona Python como tu lenguaje. Abajo verás una cadena de texto (URI) parecida a esta:mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?... Tu MONGO_HOST es la parte que va después del símbolo @ y antes del signo /?. En el ejemplo anterior, sería: cluster0.abcde.mongodb.net.
